*.hi
*.hi-boot
*.o
*.o-boot
*.dyn_hi
*.dyn_hi-boot
*.dyn_o
*.dyn_o-boot
*.o.cmd
*.swp
*.prof
*.hp
*.aux
Yi/Lexer/*.hs
.yi*.dbg
dist/
dist_yi/
*~
.hsenv_yi
hsenv.log
cabal.sandbox.config
.cabal-sandbox
*.cabal
tags
TAGS
.stack-work/