# preferred frontend
frontend = vty

# where to install executable and packages
prefix = $(HOME)/usr/

# The following are web-publishing options.

tmp-dir = /tmp
user = jpbernardy

configure-dirs = --prefix=$(prefix) 

extra-configure-args = -f$(frontend) --user

# You should never need to change the following.

top-src-dir =

